body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 150px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: gold;
    border: none;
    cursor: pointer;
}

button:hover {
    background: orange;
}
.nav {
    background: #111;
    padding: 15px;
}

.nav button {
    margin: 5px;
}

.section {
    margin-top: 40px;
}
